<% var data = {
title: "Преимущества | Импульс4",
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container page advantages">
    <div class="section">
        <h4>Преимущества</h4>
        <div class="row">
            <div class="col-12 col-md-1"><div class="btn-circle"><img src="img/ico-1.svg" alt=""></div></div>
            <div class="col-12 col-md-11">
                <div class="mrg-l">
                    <h5>Комплексное обслуживание</h5>
                    <p>Имеющийся станочний парк, более 100 единиц, металлообрабатывающего, диагностического и испытательного оборудования, - позволяет выполнить весь комплекс работ по восстановлению параметров деталей и узлов двигателя в соответствии с требованиями заводов - изготовителей.</p>
                    <p>Для экономии времени и средств заказчика возможна доставка и отправка заказов в любую точку Украины перевозчиком «Новая почта» или другим на выбор заказчика. </p>
                    <p>Согласование объема выполнения необходимых работ в телефонном режиме, при необходимости используется Viber</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-1"><div class="btn-circle"><img src="img/ico-2.svg" alt=""></div></div>
            <div class="col-12 col-md-11">
                <div class="mrg-l">
                    <h5>Импортное современное высокоточное оборудование</h5>
                    <p>Совершенствование технологического процесса ремонта деталей двигателя путем внедрения импортного универсального и специализированного, высокоточного оборудования, в том числе и с ЧПУ, изготовленного в США, Франции, Италии, Турции обеспечивает выполнение ремонта и восстановления деталей двигателей зарубежных производителей автомобилей и спецтехники.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-1"><div class="btn-circle"><img src="img/ico-3.svg" alt=""></div></div>
            <div class="col-12 col-md-11">
                <div class="mrg-l">
                    <h5>Любой уровень сложности</h5>
                    <p>Наличие квалифицированного персонала и современного высокоточного оборудования позволяют выполнять работы любого уровня сложности. Выполнение работ может быть ограничено только экономической целесообразностью.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-1"><div class="btn-circle"><img src="img/ico-4.svg" alt=""></div></div>
            <div class="col-12 col-md-11">
                <div class="mrg-l">
                    <h5>Нам доверяют 22 года на рынке</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>