<% var data = {
title: "Полезно знать | Импульс4",
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container page articles">
    <div class="section">
        <h4>Полезно знать</h4>
        <a class="article-teaser" href="article.html">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="wrap-img">
                        <img src="img/services-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <h5 class="article-title">Заголовок статьи</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor...</p>
                    <span class="more">Подробнее</span>
                </div>
            </div>
        </a>
        <a class="article-teaser" href="article.html">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="wrap-img">
                        <img src="img/services-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <h5 class="article-title">Заголовок статьи</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor...</p>
                    <span class="more">Подробнее</span>
                </div>
            </div>
        </a>
        <a class="article-teaser" href="article.html">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="wrap-img">
                        <img src="img/services-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <h5 class="article-title">Заголовок статьи</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor...</p>
                    <span class="more">Подробнее</span>
                </div>
            </div>
        </a>
        <a class="article-teaser" href="article.html">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="wrap-img">
                        <img src="img/services-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <h5 class="article-title">Заголовок статьи</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor...</p>
                    <span class="more">Подробнее</span>
                </div>
            </div>
        </a>
        <a class="article-teaser" href="article.html">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="wrap-img">
                        <img src="img/services-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <h5 class="article-title">Заголовок статьи</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor...</p>
                    <span class="more">Подробнее</span>
                </div>
            </div>
        </a>
        <a class="article-teaser" href="article.html">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="wrap-img">
                        <img src="img/services-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <h5 class="article-title">Заголовок статьи</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor...</p>
                    <span class="more">Подробнее</span>
                </div>
            </div>
        </a>
        <ul class="pagination-my">
            <li><a class="first-page" href="#"></a></li>
            <li><a class="prev-page" href="#"></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a class="next-page" href="#"></a></li>
            <li><a class="last-page" href="#"></a></li>
        </ul>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>