<% var data = {
title: "Название услуги | Импульс4",
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container page service">
    <div class="section">
        <h4>Название услуги</h4>
        <div class="row wrap-top-imgs">
            <div class="col-12 col-md-6">
                <picture>
                    <source srcset="img/service-desct-1.png" media="(min-width: 960px)">
                    <source srcset="img/service-tablet-1.jpg" media="(min-width: 321px)">
                    <img src="img/service-mob-1.jpg" alt="">
                </picture>
            </div>
            <div class="col-12 col-md-6">
                <picture>
                    <source srcset="img/service-desct-2.png" media="(min-width: 960px)">
                    <source srcset="img/service-tablet-2.jpg" media="(min-width: 321px)">
                    <img src="img/service-mob-2.jpg" alt="">
                </picture>
            </div>
        </div>
        <div class="inf">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
        </div>
    </div>
    <div class="section">
        <h5 class="text-center">Виды и стоимость услуг</h5>
        <div>
            <div class="d-md-none wrap-table-mob">
                <table>
                    <thead>
                    <tr>
                        <th colspan="2">Марка двигателя</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="cell-1">Услуга 1</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="cell-1">Услуга 2</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="cell-1">Услуга 3</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="cell-1">Услуга 4</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="cell-1">Услуга 5</th>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                    <tr>
                        <th colspan="2">Марка двигателя</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="cell-1">Услуга 1</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="cell-1">Услуга 2</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="cell-1">Услуга 3</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="cell-1">Услуга 4</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="cell-1">Услуга 5</th>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                    <tr>
                        <th colspan="2">Марка двигателя</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="cell-1">Услуга 1</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="cell-1">Услуга 2</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="cell-1">Услуга 3</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="cell-1">Услуга 4</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="cell-1">Услуга 5</th>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-none d-md-block wrap-table">
                <table>
                    <thead>
                    <tr>
                        <th class="cell-1">№</th>
                        <th class="cell-2">Марка двигателя</th>
                        <th>Услуга 1</th>
                        <th>Услуга 1</th>
                        <th>Услуга 1</th>
                        <th>Услуга 1</th>
                        <th>Услуга 1</th>
                        <th>Услуга 1</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="section wrap-gallery">
        <h5 class="text-center">Галерея</h5>
        <div class="service-gallery">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <a class="fancybox text-center" rel="services" href="img/gallery/960/service-3.jpg" title="Название или короткое описание фото">
                        <div class="wrap-img">
                            <img src="img/service-3.jpg"  alt="">
                        </div>
                        <p class="descr">Название или короткое<br> описание фото </p>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a class="fancybox text-center" rel="services" href="img/gallery/960/service-4.jpg" title="Название или короткое описание фото">
                        <div class="wrap-img">
                            <img src="img/service-4.jpg" alt="">
                        </div>
                        <p class="descr">Название или короткое<br> описание фото </p>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a class="fancybox text-center" rel="services" href="img/gallery/960/service-5.jpg" title="Название или короткое описание фото">
                        <div class="wrap-img">
                            <img src="img/service-5.jpg" alt="">
                        </div>
                        <p class="descr">Название или короткое<br> описание фото </p>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a class="fancybox text-center" rel="services" href="img/gallery/960/service-6.jpg" title="Название или короткое описание фото">
                        <div class="wrap-img">
                            <img src="img/service-6.jpg" alt="">
                        </div>
                        <p class="descr">Название или короткое<br> описание фото </p>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a class="fancybox text-center" rel="services" href="img/gallery/960/service-7.jpg" title="Название или короткое описание фото">
                        <div class="wrap-img">
                            <img src="img/service-7.jpg" alt="">
                        </div>
                        <p class="descr">Название или короткое<br> описание фото </p>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a class="fancybox text-center" rel="services" href="img/gallery/960/service-8.jpg" title="Название или короткое описание фото">
                        <div class="wrap-img">
                            <img src="img/service-8.jpg" alt="">
                        </div>
                        <p class="descr">Название или короткое<br> описание фото </p>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a class="fancybox text-center" rel="services" href="img/gallery/960/service-9.jpg" title="Название или короткое описание фото">
                        <div class="wrap-img">
                            <img src="img/service-9.jpg" alt="">
                        </div>
                        <p class="descr">Название или короткое<br> описание фото </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-back" href="services.html">Вернуться к списку услуг</a>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>